<slider-menu info="dirScope"></slider-menu>
<div class="content-wrapper">
    <section class="content-header">
        <h1 class="page-header">
            Pattern Details
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Pattern Details</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                        <form role="form">
                            <div class="box-body">
                                <div class="box-header with-border">
                                    <h3 class="box-title"><label>{{pattern.name}} - Submitted By {{ pattern.author.username }}</label></h3>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label for="prolog">Prolog</label>
                                    <textarea type="text" class="form-control" id="prolog" ng-model="pattern.prolog"
                                              placeholder="Enter Prolog" ng-readonly="!isAdmin"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="problem">Problem</label>
                                    <textarea type="text" class="form-control" id="problem" ng-model="pattern.problem"
                                              placeholder="Enter Problem" ng-readonly="!isAdmin"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="forces">Forces</label>
                                    <textarea type="text" class="form-control" id="forces" ng-model="pattern.forces"
                                              placeholder="Enter Forces" ng-readonly="!isAdmin"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="solution">Solution</label>
                                    <textarea type="text" class="form-control" id="solution" ng-model="pattern.solution"
                                              placeholder="Enter Solution" ng-readonly="!isAdmin"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="examples">Examples</label>
                                    <textarea type="text" class="form-control" id="examples" ng-model="pattern.examples"
                                              placeholder="Examples" ng-readonly="!isAdmin"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="classification">Classification</label>
                                    <select class="form-control" id="classification" ng-dropdown required ng-model="pattern.classification" ng-disabled="!isAdmin" ng-readonly="!isAdmin">
                                        <option>IMPLEMENTATION</option>
                                        <option>DESIGN</option>
                                        <option>ARCHITECTURE</option>
                                        <option>OPERATIONS</option>
                                        <option>ENGINEERING</option>
                                        <option>CONFIGURATION</option>
                                        <option>OTHER</option>
                                    </select>
                                    <div ng-show="pattern.classification == 'OTHER'">
                                        <br >
                                        <input type="text" class="form-control" id="classificationOther" placeholder=""
                                               ng-model="pattern.classOther" ng-readonly="!isAdmin">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="securitydomain">Security Domain</label>
                                    <select class="form-control" id="securitydomain" ng-dropdown required ng-model="pattern.securityDomain" ng-disabled="!isAdmin" ng-readonly="!isAdmin">
                                        <option value=''>{{pattern.securityDomain}}</option>
                                        <option>AUTHENTICATION</option>
                                        <option>AUTHORIZATION</option>
                                        <option>LOGGING</option>
                                        <option>INPUT_VALIDATION</option>
                                        <option>OTHER</option>
                                    </select>
                                    <div ng-show="pattern.securityDomain == 'OTHER'">
                                        <br >
                                        <input  type="text" class="form-control" id="securityDomainOther" placeholder=""
                                                ng-model="pattern.securityOther" ng-readonly="!isAdmin">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="Category">Category</label>
                                    <input type="text" class="form-control" id="category" placeholder="Category"
                                           ng-model="pattern.category" ng-readonly="!isAdmin">
                                </div>
                                <div class=" form-group">
                                    <label for="languagesSupported">Languages Supported</label>
                                    <input type="text" class="form-control" id="languagesSupported"
                                           ng-model="pattern.languages"
                                           placeholder="Languages Supported" ng-readonly="!isAdmin">
                                </div>
                                <div class="form-group">
                                    <label for="attachments">Attachments</label>
                                    <textarea type="text" class="form-control" id="attachments"
                                              ng-model="pattern.attachmentsTemp" placeholder="Attachments" ng-readonly="!isAdmin"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="resulting-context">Resulting Context</label>
                                    <textarea type="text" class="form-control" id="resulting-context"
                                              ng-model="pattern.resultingContext"
                                              placeholder="Resulting Context" ng-readonly="!isAdmin"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="code-repository">Code Repository</label>
                                    <textarea type="text" class="form-control" id="code-repository"
                                              ng-model="pattern.codeRepository"
                                              placeholder="Code Repository" ng-readonly="!isAdmin"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="how-to-use">How to use</label>
                                    <textarea type="text" class="form-control" id="how-to-use" ng-model="pattern.howTo"
                                              placeholder="Enter instructions here" ng-readonly="!isAdmin"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="threatModel">Threat Model</label>
                                    <textarea type="text" class="form-control" id="threatModel" ng-model="pattern.threatModel"
                                              placeholder="Threat Model" ng-readonly="!isAdmin"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="test-cases">Test Cases</label>
                                    <textarea type="text" class="form-control" id="test-cases" ng-model="pattern.testCases"
                                              placeholder="Test Cases" ng-readonly="!isAdmin"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="test-scripts">Test Scripts</label>
                                    <textarea type="text" class="form-control" id="test-scripts" ng-model="pattern.testScripts"
                                              placeholder="Test Scripts" ng-readonly="!isAdmin"></textarea>
                                </div>

                                <div ng-if="pattern.status != 'STATUS_PENDING'" class="form-group">
                                    <label for="comms">{{ pattern.status == "STATUS_APPROVED" ? 'Approved' : '' }} {{ pattern.status == "STATUS_REJECTED" ? 'Rejected' : '' }} By: {{ pattern.approver.username }}</label>
                                    <textarea type="text" class="form-control" id="comms" ng-model="pattern.approverComments"
                                              placeholder="Approver Comments" ng-readonly="!isAdmin"></textarea>
                                </div>

                                <div ng-if="pattern.status == 'STATUS_PENDING'" class="form-group">
                                    <label>Status: Pending Approval</label>
                                </div>

                                <div class="form-group">
                                    <label>Attachments</label>
                                    <div class="row">
                                        <div class="col-lg-3 col-xs-6" ng-repeat="attachment in pattern.attachments track by $index">
                                            <div ng-click="downloadFile(attachment.id)">{{ attachment.fileName }}</div>
                                        </div>
                                    </div>
                                    <br />

                                    <p class="help-block">If you want to download an attached file, just click on it's name.</p>
                                </div>

                            </div>
                            <!-- /.box-body -->


                            <div class="box-footer">
                                <button ng-show="isAdmin" ng-click="save()" class="btn btn-primary">Save</button>
                                <div ng-if="isApprover || isAdmin" class="form-group">
                                    <br />
                                    <div class="form-group">
                                        <label for="test-scripts">Reviewer Comments: </label>
                                        <textarea type="text" class="form-control" id="test-scripts" ng-model="pattern.approverComments"
                                                  placeholder="Enter your review here" ng-readonly="!isApprover"></textarea>
                                    </div>
                                    <button ng-show="isApprover" ng-click="approve()" class="btn btn-primary bg-green">Approve</button>
                                    <button ng-show="isApprover" ng-click="reject()" class="btn btn-primary bg-red">Reject</button>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>

    </section>
</div>