<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Pending Patterns
    </h1>
    <ol class="breadcrumb">
        <li><a ng-href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Pending Patterns</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Title</th>
                            <th>Created by</th>
                            <th>Modified</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>1</td>
                            <td>Opera 9.5</td>
                            <td>Win 88+ / OSX.3+</td>
                            <td>-</td>
                            <td>
                                <div class="slideThree">
                                    <input class="spl" type="checkbox" value="1" id="slideThree1" name="check">
                                    <label for="slideThree1"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Opera for Wii</td>
                            <td>Wii</td>
                            <td>-</td>
                            <td>
                                <div class="slideThree">
                                    <input class="spl" type="checkbox" value="1" id="slideThree2" name="check">
                                    <label for="slideThree2"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Nokia N800</td>
                            <td>N800</td>
                            <td>-</td>
                            <td>
                                <div class="slideThree">
                                    <input class="spl" type="checkbox" value="1" id="slideThree3" name="check">
                                    <label for="slideThree3"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Nintendo DS browser</td>
                            <td>Nintendo DS</td>
                            <td>8.5</td>
                            <td>
                                <div class="slideThree">
                                    <input class="spl" type="checkbox" value="1" id="slideThree4" name="check">
                                    <label for="slideThree4"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Konqureror 3.1</td>
                            <td>KDE 3.1</td>
                            <td>3.1</td>
                            <td>
                                <div class="slideThree">
                                    <input class="spl" type="checkbox" value="1" id="slideThree5" name="check">
                                    <label for="slideThree5"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Konqureror 3.3</td>
                            <td>KDE 3.3</td>
                            <td>3.3</td>
                            <td>
                                <div class="slideThree">
                                    <input class="spl" type="checkbox" value="1" id="slideThree6" name="check">
                                    <label for="slideThree6"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Konqureror 3.5</td>
                            <td>KDE 3.5</td>
                            <td>3.5</td>
                            <td>
                                <div class="slideThree">
                                    <input class="spl" type="checkbox" value="1" id="slideThree7" name="check">
                                    <label for="slideThree7"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Internet Explorer 4.5</td>
                            <td>Mac OS 8-9</td>
                            <td>-</td>
                            <td>
                                <div class="slideThree">
                                    <input class="spl" type="checkbox" value="1" id="slideThree8" name="check">
                                    <label for="slideThree8"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Internet Explorer 5.1</td>
                            <td>Mac OS 7.6-9</td>
                            <td>1</td>
                            <td>
                                <div class="slideThree">
                                    <input class="spl" type="checkbox" value="1" id="slideThree9" name="check">
                                    <label for="slideThree9"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Internet Explorer 5.2</td>
                            <td>Mac OS 8-X</td>
                            <td>1</td>
                            <td>
                                <div class="slideThree">
                                    <input class="spl" type="checkbox" value="1" id="slideThree10" name="check">
                                    <label for="slideThree10"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>NetFront 3.1</td>
                            <td>Embedded devices</td>
                            <td>-</td>
                            <td>
                                <div class="slideThree">
                                    <input class="spl" type="checkbox" value="1" id="slideThree11" name="check">
                                    <label for="slideThree11"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>NetFront 3.4</td>
                            <td>Embedded devices</td>
                            <td>-</td>
                            <td>
                                <div class="slideThree">
                                    <input class="spl" type="checkbox" value="1" id="slideThree12" name="check">
                                    <label for="slideThree12"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>Dillo 0.8</td>
                            <td>Embedded devices</td>
                            <td>-</td>
                            <td>
                                <div class="slideThree">
                                    <input class="spl" type="checkbox" value="1" id="slideThree13" name="check">
                                    <label for="slideThree13"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>Links</td>
                            <td>Text only</td>
                            <td>-</td>
                            <td>
                                <div class="slideThree">
                                    <input class="spl" type="checkbox" value="1" id="slideThree14" name="check">
                                    <label for="slideThree14"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>Lynx</td>
                            <td>Text only</td>
                            <td>-</td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>IE Mobile</td>
                            <td>Windows Mobile 6</td>
                            <td>-</td>
                            <td>
                                <div class="slideThree">
                                    <input class="spl" type="checkbox" value="1" id="slideThree15" name="check">
                                    <label for="slideThree15"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td>PSP browser</td>
                            <td>PSP</td>
                            <td>-</td>
                            <td>
                                <div class="slideThree">
                                    <input class="spl" type="checkbox" value="1" id="slideThree16" name="check">
                                    <label for="slideThree16"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td>All others</td>
                            <td>-</td>
                            <td>-</td>
                            <td>
                                <div class="slideThree">
                                    <input class="spl" type="checkbox" value="1" id="slideThree17" name="check">
                                    <label for="slideThree17"></label>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>S.No</th>
                            <th>Title</th>
                            <th>Created by</th>
                            <th>Modified</th>
                            <th>Status</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>