<!DOCTYPE html>
<header class="main-header">
        <!-- Logo -->
        <a href="/" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>S</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>SSAWG</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav id="header11" class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->

                    <!-- Notifications: style can be found in dropdown.less -->

                    <!-- Tasks: style can be found in dropdown.less -->

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" ng-click="logout()" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i>
                            <span  class="hidden-xs">{{ dirScope.USERNAME }}</span>
                        </a>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->

            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li ng-class="{ 'active': dirScope.PAGE == 'APPROVED' }" ><a href="/approved"><i class="fa fa-circle-o text-green"></i> <span>Approved Patterns</span></a></li>
                <li ng-class="{ 'active': dirScope.PAGE == 'PENDING' }" ><a href="/pending"><i class="fa fa-circle-o text-yellow"></i> <span>Pending Patterns</span></a></li>
                <li ng-class="{ 'active': dirScope.PAGE == 'REJECTED' }" ><a href="/rejected"><i class="fa fa-circle-o text-red"></i> <span>Rejected Patterns</span></a></li>
                <li ng-class="{ 'active': dirScope.PAGE == 'NEWPATTERN' }" ><a href="/newpattern"><i class="fa fa-circle-o text-aqua"></i> <span>Submit New Patterns</span></a></li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>